<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEYIAMAA BEAUTY</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="/logo1.jpg">
</head>
<body>
    <div class="service">
        <div class="services">
            <div class="serv">
                <h2>Eyebrows</h2>
                <table>
                    <tr>
                        <td>Waxing + tint --------------</td>
                        <td>$30</td>
                    </tr>
                    <tr>
                        <td>Bleaching + tint ----------------</td>
                        <td>$30</td>
                    </tr>
                    <tr>
                        <td>Lamination + tint ----------------</td>
                        <td>$30</td>
                    </tr>
                </table>
            </div>
            <div class="serv">
                <h2>Eyelashes</h2>
                <table>
                    <tr>
                        <td>Tint ------------</td>
                        <td>$30</td>
                    </tr>
                    <tr>
                        <td>One by one eyelash ------------</td>
                        <td>$30 - $40</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="services">
            <div class="serv">
                <h2>Hair</h2>
                <table>
                    <tr>
                        <td>Stright Hair Ironing -----------------</td>
                        <td>$20 (short hair) --- $30 (long hair)</td>
                    </tr>
                    <tr>
                        <td>Curly Hair Ironing ------------------</td>
                        <td>$30 (short hair) --- $40 (long hair)</td>
                    </tr>
                </table>
            </div>
            <div class="serv">
                <h2>Makeup</h2>
                <table>
                    <tr>
                        <td>Standard Makeup -------------------------------</td>
                        <td>$45</td>
                    </tr>
                    <tr>
                        <td>Standard Makeup with Eyelashes ------------</td>
                        <td>$80</td>
                    </tr>
                    <tr>
                        <td>Marriage Makeup -------------------------------</td>
                        <td>$180</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="services">
            <div class="serv">
                <h2>Nails & Nail Polish</h2>
                <table>
                    <tr>
                        <td>Instalation + File + Polish ------------</td>
                        <td>$30</td>
                    </tr>
                    <tr>
                        <td>Finger Nails + Toe Nails --------------</td>
                        <td>$55</td>
                    </tr>
                </table>
            </div>
            <div class="serv">
                <h2>Face</h2>
                <table>
                    <tr>
                        <td>Full facial waxing ------------</td>
                        <td>$15</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="contact">
            <p>Text: (571)539-9103</p>
            <p>Email: 19.tddt.15@gmail.com</p>
            <p>Copyright2022&copyAEYIAMAA BEAUTY</p>
        </div>
        <div class="Social">
            <a href="https://instagram.com/aeyiamaa?igshid=YmMyMTA2M2Y="><img src="instalogo.png" alt="logo2" height="20px" width="20px">AEYIAMAA BEAUTY</a> 
        </div>
    </div>
</body>
</html>






